<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:context="http://www.springframework.org/schema/context"
          xmlns:mongo="http://www.springframework.org/schema/data/mongo"
          xsi:schemaLocation=
          "http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="applicationContextProvider" class="io.egen.ApplicationContextProvider"></bean>
 
    <mongo:mongo host="localhost" port="27017"/>
    <mongo:db-factory dbname="WeightMonitor" />
 
 
	<bean id="mongoTemplateBean" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>
	
    <bean id="overWeightRuleBean" class="io.egen.rules.OverWeightRule"/>
    <bean id="underWeightRuleBean" class="io.egen.rules.UnderWeightRule"/>

	<bean id="alertsRepositoryBean" class="io.egen.repository.AlertsRepositoryImp"/>
  	<bean id="metricsRepositoryBean" class="io.egen.repository.MetricsRepositoryImp"/>
    
    <bean id="rulesEngine" class="org.easyrules.spring.RulesEngineFactoryBean">
        <property name="rules">
            <list>
                <ref bean="overWeightRuleBean"/>
                 <ref bean="underWeightRuleBean"/>
             </list>
        </property>
    </bean>
	

</beans>